@using darkstar.core
@model IEnumerable<Employee>
@{
    ViewBag.Title = "Index";
}


<div class="container">

    @Html.ActionLink("AddEmployee", "AddEmployee")
    <div ng-app="DEMOAPP" ng-controller="MainCtrl">
        @*<div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <td colspan="2">
                                Code
                            </td>
                            <td>
                                Name
                            </td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
            {
                            <tr>
                                <td>iscof</td>
                                <td>@m.EmployeeCode </td>
                                <td>@m.LastName, @m.FirstName @m.MiddleName </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-12">

                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <td>
                                Code
                            </td>
                            <td>
                                Name
                            </td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in tableList">
                            <td>{{a.EmployeeCode}} test</td>
                            <td>{{a.LastName + ', ' + a.FirstName + ' ' + a.MiddleName}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script>


    (function () {

        const BASE_URL = @Url.Content("~/");

        var app = angular.module('DEMOAPP', [])

        app.controller('MainCtrl', ['$scope','EmployeeService', function ($scope,$eService) {

            $scope.tableList = []
            $eService.GetList().then(function(d){
                console.log(d.data.DataResult)
                $scope.tableList = d.data.DataResult
            })


        }])
        .service('EmployeeService',function ($http, $location) {

            var header = { 'Content-Type': 'application/json;charset=utf-8' }

            this.GetList = function (q) {
                var req = {
                    method: 'GET',
                    cache: false,
                    url: BASE_URL + 'api/Employee/GetList',
                    headers: header
                }
                return $http(req);
            }
        })
    }())
</script>




